/* General navbar styling */
.navbar {
  background-color: #333366;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  z-index: 99;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

/* Hamburger menu */
.hamburger-menu {
  color: #8395af;
  cursor: pointer;
  transition: color 0.2s ease;
  display: none;
}

.hamburger-menu:hover {
  color: #fff;
}

/* Menu */
.menu,
.menu-right {
  display: flex;
  align-items: center;
}

/* Menu list */
.menu-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-li {
  display: flex;
  align-items: center;
  color: #8395af;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-span {
  margin-left: 8px;
}

.nav-li:hover {
  color: #fff;
  cursor: pointer;
}

/* Search bar */
.nav-search {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 20px;
  background-color: #485d82;
  border-radius: 4px;
}

.search-icon {
  margin-left: 10px;
  color: #8395af;
}

.search-intput {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 4px;
  background-color: #485d82;
  color: #8395af;
}

.search-intput:focus {
  outline: none;
  border: none;
  color: #fff;
}

.search-intput::placeholder {
  color: #a1b2cf;
}

/* Responsive styling */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    background-color: #333366;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    gap: 10px;
    padding: 10px 0;
  }

  .menu-right {
    display: none;
  }

  .menu.open .menu-list {
    display: flex;
  }

  .nav-search {
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px;
    flex-direction: column;
  }

  .search-intput {
    font-size: 14px;
  }

  .nav-span {
    display: none; /*Hide text labels for smaller screens */
  }
}
